header {
	padding-bottom: 1rem;
	border-bottom: 1px solid #555;
}

.description {
	color: var(--content-text-color-subtle);
	font-style: italic;
}

.pubdate {
	color: var(--content-text-color-subtle);
	font-size: .833rem;
}
