---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contact">
	<h1>Contact</h1>
	<p>Some ways to get in touch with me:</p>
	<ul>
		<li><a id="email-link" rel="nofollow, noindex" href="to-email-w/">email</a></li>
		<li><a href="https://github.com/w-biggs/">github</a></li>
		<li><a href="https://www.linkedin.com/in/~wbiggs/">linkedin</a></li>
	</ul>
	<img class="rescale-img" aria-hidden="true" src="/images/bird-mail.gif" alt="bird carrying email" style="filter: invert(1); position: absolute; top: 1em; right: 1em; image-rendering: pixelated;">
</Layout>

<script is:inline defer>
	const email = document.getElementById('email-link');
	email.setAttribute('href', email.getAttribute('href')
		.replace('-', 's')
		.replaceAll('-', '@')
		.replace('/', 'ilsonbiggs.com')
		.replace('to', 'mailto:wil')
		.replace('email', 'on')
	);
</script>

