---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import robinJpg from '../images/robin.jpg';
---

<Layout title="Home">
	<section class="about-me" aria-label="about me">
		<Image
			src={robinJpg}
			alt="A robin, photographed from the back, perched on a rock."
			width="300"
			height="300"
			layout="constrained"
		/>
		<div class="text-content">
			<h1>w. biggs</h1>
			<p>hi!</p>
			<p>i'm a computer nerd, bird nerd, weather nerd, music nerd, and musician (though not as often as i'd like) based in pittsburgh, pa, usa.</p>
			<p>i currently work full-time as a software engineer, primarily working with web tech.</p>
			<p>i'll hopefully be adding more stuff here soon!</p>
		</div>
	</section>
</Layout>

<style>
	.about-me {
		display: flex;
		gap: 1.5rem;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.text-content {
			flex: 1 1 300px;
		}
	}
</style>
