/* This is the CSS for the splash page only. */
@use 'sass:math';
@use 'sass:list';
@import url('https://use.typekit.net/njs8out.css'); //typekit!

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: black;
	color: white;
	padding: 6vh 0 0 0;
	font-family: 'europa', 'Europa', system-ui, sans-serif;
	min-height: 100vh;
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

header {
	#logo {
		width: 26.66666%;
		margin-bottom: 3rem;
	}

	h1 {
		font-size: 5rem;
		margin-top: 0;
		margin-bottom: 0.25em;

		.subname {
			font-weight: 400;
		}
	}

	h2 {
		font-size: 2.9rem;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 400;
	}
}

nav {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		a {
			color: inherit;
			text-decoration: none;
		}

		li {
			display: inline-block;
			font-size: 2.75rem;
			opacity: 0.8;
			margin-left: 1em;
			margin-right: 1em;
			transition: opacity 0.2s;

			&.mobile-navitem {
				display: none;
			}
		}

		li:hover {
			opacity: 1;
		}
	}
}

#skyline {
	position: fixed;
	height: 100vh;
	width: 100%;
	bottom: 0;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: -1;
	opacity: 1;
	background-image: url('images/skyline-inverse.svg');
}

/* stars! */

#starcontainer {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -4;

	.stars {
		will-change: transform;
		transform: translateZ(0);
	}
}

@function box-shadow($stars) {
	$bxshadow: ();
	@for $i from 1 to $stars {
		$bxshadow: list.append(
			$bxshadow,
			(math.random(100) + 0vw) (math.random(95) + 0vh) #fff,
			comma
		);
	}
	@return $bxshadow;
}

$bxshadow-large: box-shadow(25);
$bxshadow-large2: box-shadow(25);
$bxshadow-medium: box-shadow(50);
$bxshadow-medium2: box-shadow(50);
$bxshadow-small: box-shadow(100);
$bxshadow-small2: box-shadow(100);

.stars.large {
	height: 3px;
	width: 3px;
	background: transparent;
	box-shadow: $bxshadow-large;
	animation: blink 10s infinite;
	animation-delay: (0 - math.random(10000)) * 1ms;
}
.stars.large2 {
	height: 3px;
	width: 3px;
	background: transparent;
	box-shadow: $bxshadow-large2;
	animation: blink 10s infinite;
	animation-delay: (0 - math.random(10000)) * 1ms;
}
.stars.medium {
	height: 2px;
	width: 2px;
	background: transparent;
	box-shadow: $bxshadow-medium;
	animation: blink 7.5s infinite;
	animation-delay: (0 - math.random(7500)) * 1ms;
}
.stars.medium2 {
	height: 2px;
	width: 2px;
	background: transparent;
	box-shadow: $bxshadow-medium2;
	animation: blink 7.5s infinite;
	animation-delay: (0 - math.random(7500)) * 1ms;
}
.stars.small {
	height: 1px;
	width: 1px;
	background: transparent;
	box-shadow: $bxshadow-small;
	animation: blink 5s infinite;
	animation-delay: (0 - math.random(5000)) * 1ms;
}
.stars.small2 {
	height: 1px;
	width: 1px;
	background: transparent;
	box-shadow: $bxshadow-small2;
	animation: blink 5s infinite;
	animation-delay: (0 - math.random(5000)) * 1ms;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 1500px) {
	header {
		#logo {
			width: 30%;
		}
		h1 {
			font-size: 4rem;
		}
		h2 {
			font-size: 2.5rem;
		}
	}
	nav {
		ul {
			li {
				font-size: 2.2rem;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	header {
		#logo {
			width: calc(100% / 3);
		}
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 1.9rem;
		}
	}
	nav {
		ul {
			li {
				font-size: 1.8rem;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	header {
		#logo {
			width: calc(100% / 3);
		}
		h1 {
			font-size: 2.5rem;
		}
		h2 {
			font-size: 1.6rem;
		}
	}
	nav {
		ul {
			li {
				font-size: 1.6rem;
			}
		}
	}
}

@media screen and (orientation: portrait) {
	header {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;

		#logo {
			min-width: 40vh;
			max-width: 70vw;
		}
		h1 {
			font-size: 5rem;

			.subname {
				display: none;
			}
			.mobile-subname {
				display: block;
				font-size: 4rem;
			}
		}
		h2 {
			display: none;
		}
	}
	nav {
		width: 100%;
		ul {
			display: flex;
			justify-content: space-around;
			li {
				font-size: 2rem;
				margin: 0;
				padding: 1em 0;
			}
		}
	}
}

@media screen and (orientation: portrait) and (max-width: 700px) {
	nav {
		width: 100%;
		ul {
			li {
				font-size: 2.5rem;
				margin: 0;
				padding: 1em 0;
				display: none;

				&.mobile-navitem {
					display: inline-block;
				}
			}
		}
	}
}

@media screen and (orientation: portrait) and (max-width: 500px) {
	header {
		#logo {
			margin-bottom: 2rem;
		}
		h1 {
			font-size: 3rem;
			.mobile-subname {
				display: block;
				font-size: 2.5rem;
			}
		}
	}
	nav {
		ul {
			li {
				font-size: 1.8rem;
			}
		}
	}
}

@media screen and (orientation: portrait) and (max-width: 400px) {
	header {
		h1 {
			font-size: 2.7rem;
			.mobile-subname {
				display: block;
				font-size: 2.3rem;
			}
		}
	}
	nav {
		ul {
			li {
				font-size: 1.6rem;
			}
		}
	}
}

@media screen and (orientation: portrait) and (max-width: 350px) {
	header {
		h1 {
			font-size: 2.5rem;
			.mobile-subname {
				display: block;
				font-size: 2.1rem;
			}
		}
	}
	nav {
		ul {
			li {
				font-size: 1.5rem;
			}
		}
	}
}
