---
import './global.scss';
import Stars from "../components/Stars.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>W Biggs</title>
	</head>
	<body>
		<Stars class="stars-container"></Stars>
		<header>
			<nav aria-label="Main navigation">
				<ul>
					<li>
						<a href="/" id="logo">
							<img
								alt="W Biggs logo"
								src="images/logo-colored.svg"
							/>
						</a>
					</li>
					<li>
						<a href="/">articles</a>
					</li>
					<li>
						<a href="/">contact</a>
					</li>
					<li>
						<a href="https://cigazze.com/">music</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
