---
import './global.scss';
import Stars from "../components/Stars/Stars.astro";
import childProcess from "child_process";

// obtain Git commit hash
const hash = childProcess
	.execSync("git rev-parse --short HEAD")
	.toString()
	.trim()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>W Biggs</title>
	</head>
	<body>
		<Stars class="stars-container"></Stars>
		<header class="header">
			<nav aria-label="Main navigation">
				<ul>
					<li>
						<a href="/" id="logo">
							<img
								alt="W Biggs logo"
								src="/images/logo-colored.svg"
							/>
						</a>
					</li>
					<li>
						<a href="/articles">articles</a>
					</li>
					<li>
						<a href="/contact">contact</a>
					</li>
					<li>
						<a href="https://cigazze.com/">music</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			version <a href={`https://github.com/w-biggs/portfolio-v2/tree/${hash}`} title="GitHub link to current version of website">{ hash }</a>
		</footer>
	</body>
</html>

<script>
	const rescaleImages = document.querySelectorAll<HTMLImageElement>('.rescale-img');

	for (const image of rescaleImages) {
		const imageSize = image.getBoundingClientRect();
		image.style.width = `${imageSize.width / window.devicePixelRatio}px`;
		image.style.height = `${imageSize.height / window.devicePixelRatio}px`;
	}
</script>
